@model Clinic.WebApp.Models.ClinicaHistorica

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Esta seguro de que deseas borrarlo?</h3>
<div>
    <h4>Historial Clinico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdhistoriaClinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdhistoriaClinica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idpaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idpaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaApertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaApertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form aasp-action="DeleteConfirmation" asp-route-id="@Model.IdhistoriaClinica" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
