@model IEnumerable<Clinic.WebApp.Models.ClinicaHistorica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary m-1"><i class="bi bi-plus-square"></i> Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdhistoriaClinica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idpaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaApertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdhistoriaClinica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idpaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaApertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    <a asp-controller="ClinicaHistorica" asp-action="Edit" asp-route-id="@item.IdhistoriaClinica" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                    
                    <a asp-controller="ClinicaHistorica" asp-action="Delete" asp-route-id="@item.IdhistoriaClinica" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
