@using Clinic.WebApp.Models
@model IEnumerable<LabColaborador>

@{
    ViewData["Title"] = "Index";
}

<h1 class=" text-center m-3">Colaboradores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary m-1"><i class="bi bi-plus-square"></i> Crear Nuevo</a>
</p>

<table class="table table-bordered table-hover ">
    <thead class="table-dark">
        <tr>

            <th>
                No.
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreColaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Definido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrado)
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        int count = 1;
    }
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @count
            </td>
            @* <td>
             @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreColaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Definido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registrado)
            </td>
            <td>

                <a asp-controller="LabColaborador" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                <a asp-controller="LabColaborador" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        count++;
}   
    </tbody>
</table>
